<% layout('layouts/boilerplate') %>

<div class="filter">
  <form class="simple-search" action="/listing/search" method="GET">
    <input
      type="text"
      name="q"
      placeholder="Search by country or location..."
      required
    />
    <button type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </form>
  <div class="filter-option">
    <div class="form-check form-switch form-check-reverse tax-toggle">
      <label class="check-label" for="switchCheckDefault"
        >Display total after taxes</label
      >
      <input
        class="check-input"
        type="checkbox"
        role="switch"
        id="switchCheckDefault"
      />
    </div>
  </div>
</div>

<div class="row index-page">
  <% for(let listing of allListings){ %>
  <div class="card index-card" style="width: 17rem">
    <img
      src="<%= listing.image.url %>"
      class="card-img-top index-card-img"
      alt="listing_image"
      style="height: 12rem"
    />
    <div class="card-body index-card-body list-info">
      <p class="card-text" id="card-text">
        <b id="list-title"><%= listing.title %></b>
        <%= new Intl.NumberFormat("en-IN", { style: "currency", currency: "INR"
        }).format(listing.price) %>/per night
        <span class="tax-info" style="display: none">
          <br />(incl. GST 18%) &nbsp;<b
            >Total: ₹<%= (listing.price * 1.18).toFixed(2) %></b
          >
        </span>
      </p>
      <a href="/listing/<%= listing._id %>" class="btn btn-primary">view</a>
    </div>
  </div>
  <%}%>
</div>

<script>
  let taxSwitch = document.getElementById("switchCheckDefault");
  taxSwitch.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("tax-info");
    for (info of taxInfo) {
      if (info.style.display != "inline") {
        info.style.display = "inline";
      } else {
        info.style.display = "none";
      }
    }
  });
</script>
